%AXIS_TABLES{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #03A9F4;
	table{
		tr{
			&:hover{
				td *:not(.btn){
					color: #0079ae;
					transition: all .2s;
				}
			}
			th{
				height: 40px;
				font-weight: 600;
				vertical-align: middle;
			}
			td{
				height: 40px;
				vertical-align: middle;
				a{
					padding-top: 10px;
					padding-bottom: 10px;
					padding-left: 3px;
					padding-right: 3px;
				}
			}
		}
	}	
}
.table-pacientes{
	@extend %AXIS_TABLES;
}
.table-users{
	@extend %AXIS_TABLES;
	background-color: initial;
	padding-left: 0;
	padding-right: 0;
	overflow-x: auto;
	table{
		tr > td{
			padding: 5px;
			a{
				padding: 0;
			}
		}
		.tr-hover:hover{
				background-color: #fff;
				transition: all .2s;
		}
	}
}